body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

form {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    width: 48%;
    padding: 10px;
    margin-right: 4%;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color:#4b7137;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:last-child {
    margin-right: 0;
    background-color: #5a6268;
}

form button:hover {
    background-color: #0056b3;
}

form button:last-child:hover {
    background-color: #5a6268;
}

form button:focus {
    outline: none;
}

.error-message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid;
    display: none; 
}

.home-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.home-button {
    color: white;
    background-color:#4b7137;
    padding: 15px 30px 15px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}
